*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: #222;
}
.card{
    width:90%;
    max-width: 470px;
    background: rgb(108,240,245);
background: linear-gradient(0deg, rgba(108,240,245,1) 1%, rgba(13,122,219,1) 100%);
color: #fff;
margin: 100px auto 0 auto;
border-radius: 20px;
padding: 40px 35px;
text-align: center;

}
button img{
    width: 10px;
    height: 10px;
}
.search input{
    width: 70%;
    height: 30%;
    border: 0;
    outline: none;
    padding: 15px;
    font-size: 15px;
    color: rgb(17, 17, 17);
    border-radius: 50px;
}
.search button img{
    
    width: 18px;
    height: 18px;
}
.search button{
    cursor: pointer;
    position: relative;
    outline: none;
    top: 0.2em;
    border-radius: 50%;
    border: 0;
    width: 43px;
    height: 43px;
    margin-left: 1em;
}
.weather img{
     margin-top: 3em;
}
.temp{
    font-size: 50px;
    margin-top: 0.2em;
}
.city{
    font-size: 30px;
    margin-top: 0.3em;
}
.humidity{
    
    margin-right: 8em;
    font-size: 30px;
    color: black;
    font-weight: bold;
    
}
.windspeed{
    
    margin-left: 8em;
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-top: .5em;
}

.humi{
    margin-right: 12em;
    font-size: 20px;
    margin-top: 0.5em;
    color: black;
    font-weight: bold;
}
.col2{
    margin-top: -11em;
}
.wind{
    margin-left: 12em;
    font-size: 20px;
    margin-top: 0.5em;
    color: black;
    font-weight: bold;
    
}
.col1 img{
    margin-right: 15em;
   
    
}
.col2 img{
    margin-left: 15em;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    color: red;
    font-size: 12px;
    margin-left: 3em;
    margin-top: 1em;
    display: none;
}