body{
    margin: 0;
    padding: 0;
    background: yellow;
}
.container{
    
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    transform: translateX(-50%)translateY(-50%);   
}
button{
    margin-top: 2em;
    font-size: 10px;
    padding: 1em;
    font-size: 15px;
    
}
span{
    font-size: 50px;
}
#heading1{
    
    display: flex;
    flex-direction:row;
    font-size: 50px;
    margin: 0;
    
}